<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="\assets\css\updatestatus.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Customer Order Status
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div>
                                <label>
                                    Customer 1
                                </label>
                            </div>
                            <div class="pull-right action-buttons">
                                <a href=""><span class="glyphicon glyphicon-pencil"></span></a>
                                <select name="drinks" required>
                                    <option value="" disabled selected hidden>Order Status</option>
                                    <option value="processed">Order Processed</option>
                                    <option value="confirmed">Order Confirmed</option>
                                    <option value="outfordelivery">Order Out for delivery</option>
                                    <option value="arrived">Order Arrived</option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <label>
                                    Customer 2
                                </label>
                            </div>
                            <div class="pull-right action-buttons">
                                <a href=""><span class="glyphicon glyphicon-pencil"></span></a>
                                <select name="drinks" required>
                                    <option value="" disabled selected hidden>Order Status</option>
                                    <option value="processed">Order Processed</option>
                                    <option value="confirmed">Order Confirmed</option>
                                    <option value="outfordelivery">Order Out for delivery</option>
                                    <option value="arrived">Order Arrived</option>
                                </select>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div>
                                <label>
                                    Customer 3
                                </label>
                            </div>
                            <div class="pull-right action-buttons">
                                <a href=""><span class="glyphicon glyphicon-pencil"></span></a>
                                <select name="drinks" required>
                                    <option value="" disabled selected hidden>Order Status</option>
                                    <option value="processed">Order Processed</option>
                                    <option value="confirmed">Order Confirmed</option>
                                    <option value="outfordelivery">Order Out for delivery</option>
                                    <option value="arrived">Order Arrived</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>