<div>
    {{#each products}}
        <div class="card">
            <span>{{this.name}}</span>
            <span>{{this.price}}</span>
            {{#if (isInCart this.id userId)}}
                <a class="btn btn-primary" href="/cart/cart/{{this.id}}/create">Add to cart</a>
            {{/if}}
        </div>
    {{/each}}
</div>