<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    html,
body,
.intro {
  height: 100%;
  width:100%;
}

@media (min-width: 550px) and (max-width: 750px) {
  html,
  body,
  .intro {
    height: 750px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .intro {
    height: 750px;
  }
}

.mask-custom {
  backdrop-filter: blur(15px);
  background-color: rgba(255,255,255,.2);
  border-radius: 3em;
  border: 2px solid hsl(160, 100%, 50%);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
  </style>
</head>
<body>
  <section class="intro">
  <div class="bg-image h-100">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 col-xl-6">
            <div class="card mask-custom">
              <div class="card-body p-5 text-black">

                <div class="my-4">

                  <h2 class="text-center mb-5">Register Form</h2>

                  <form method = "post">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-12">
                        <div class="form-outline form-white">
                          <input type="text" id="form3Example2" class="form-control form-control-lg" name = "name" value="{{name}}"/>
                          <label class="form-label" for="form3Example2">Username</label>
                        </div>
                      </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline form-white mb-4">
                      <input type="email" id="form3Example3" class="form-control form-control-lg" name = "email" value="{{email}}">
                      <label class="form-label" for="form3Example3">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="form3Example4" class="form-control form-control-lg" name = "password"/>
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>


                    <!-- Submit button -->
                    <button type="submit" class="btn btn-light btn-block mb-4">Sign up</button>
                  </form>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>