<link rel="stylesheet" href="/assets/css/availableVouchers.css">
<section class="container">
<h2>Vouchers for sale</h2>
{{#each voucherData}}
{{#ifeq voucherData.length 0}}
<h1>No vouchers available</h1>
{{else}}
  <div class="row">
    <article class="card fl-left">
      <section class="date">
        <time datetime="23th feb">
          <span>HHP</span><span>Voucher</span>
        </time>
      </section>
      <section class="card-cont">
        <small>HandyHandPhone</small>
        <h3>{{this.type}}</h3>
        <div class="even-date">i>
         {{this.description}}
        </div>
        <div class="even-info">
          <p>
            Enjoy {{this.percentage}}% off your products
          </p>
        </div>
        <a href="#">tickets</a>
      </section>
    </article>

  </div>
  {{/ifeq}}
{{/each}}
</div>
