<link rel="stylesheet" href="assets/css/about.css">


<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About HandyHandPhone</h1>
        <p class="lead text-muted mb-0">Hi! We are a group NYP students tasks to create a development website that sells Electronic Goods!</p>
        <p>Some of our basic features include , Vouchers , Members , Tickets , E-commerce (Products , Carts , Checkout) as well as Delivery and User Management
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>


  
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">HandyHandPhone's Membership</h2>
        <p class="font-italic text-muted mb-4">Here at HandyHandPhone , we love to reward our loyal customers. With every transaction , stand to get rewarded with points! These points can be used to redeem our HandyHandPhone Vouchers!</p><a href="/member/memberpage" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Our Store</h2>
        <p class="font-italic text-muted mb-4">Shop at our excellent store filled with up to date electronics that will allow you to complete day to day digital tasks.</p><a href="/product/productpage" class="btn btn-light px-5 rounded-pill shadow-sm">Shop Now!</a>
      </div>
    </div>
  </div>
</div>

    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Presenting : Our Team</h2>
          <p>The team at HandyHandPhone promises to always fulfill your greatest needs as well as desires at any given moment.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Leading a team has never been easy to me. However , HandyHandPhone gave me the freedom to experiment new products and ideas
                 to produce the near perfect product.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Resha</h3>
                <h4>Team Leader</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  When a first applied to HandyHandPhone , i fell in love immediately with the culture as well as the freedom the company allows us. Choose HandyHandPhone , you will never go wrong
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/rh4.jpeg" class="testimonial-img" alt="">
                <h3>Ong Ruey How</h3>
                <h4>Lead Developer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Whenever i think of my dream job , i think of working at HandyHandPhone. The company allows me to express myself in UI/UX designs 
                  and explore new techniques and languages
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/irfan.jpeg" class="testimonial-img" alt="">
                <h3>Irfan</h3>
                <h4>FrontEnd Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Here at HandyHandPhone , we ensure that all customer's orders or request are fufilled to our best abilty. The team are responsible and cohesive workers that make my life easier
                  and your experience better
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/glenn.jpeg" class="testimonial-img" alt="">
                <h3>Glenn</h3>
                <h4>BackEnd Developer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  All my life i have been passionate about software development. HandyHandPhone took a chance on me and 
                  allowed me to pursue my life goal. The team around me has pushed me to my limits.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/haziq.jpeg" class="testimonial-img" alt="">
                <h3>Haziq</h3>
                <h4>Lead Developer</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
  </div>
</footer>