<link rel="stylesheet" href="\assets\css\address.css">
<div class="row">
  <div class="col-md-8 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Delivery Details</h5>
      </div>
      <div class="card-body">
        <form method="post">
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form7Example1" class="form-control" name="firstname" />
                <label class="form-label" for="form7Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form7Example2" class="form-control" name="lastname" />
                <label class="form-label" for="form7Example2">Last name</label>
              </div>
            </div>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <input type="" id="form7Example3" class="form-control" name="unitnumber" />
            <label class="form-label" for="form7Example3">Unit Number</label>
          </div>

          <!-- Text input -->
          <div class="form-outline mb-4">
            <input type="text" id="form7Example4" class="form-control" name="address" />
            <label class="form-label" for="form7Example4">Address</label>
          </div>

          <!-- Number input -->
          <div class="form-outline mb-4">
            <input type="" id="form7Example6" class="form-control" name="phone" />
            <label class="form-label" for="form7Example6">Phone</label>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Save
          </button>
        </form>
      </div>

    </div>
  </div>


</div>
</div>
</div>
</div>