<link rel="stylesheet" href="\assets\css\address.css">
<div class="row">
    <div class="col-md-8 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Create Order Status</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="form-outline mb-4">
                        <input type="date" id="form7Example2" class="form-control" name="date" />
                        <label class=" form-label" for="form7Example2">Date</label>
                    </div>
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form7Example2" class="form-control" name="ordernumber" />
                        <label class=" form-label" for="form7Example2">Order Number</label>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                        <button type="" id="form7Example3" class="form-control" name="orderstatus" />
                        <select name="orderstatus" id="orderstatus">
                            <option>Order Processed</option>
                            <option>Order Confirmed</option>
                            <option>Order Out for Delivery</option>
                            <option>Order Arrived</option>
                        </select>
                    </div>
                    <label class=" form-label" for="form7Example3">Order status</label>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Save
                    </button>
                </form>
            </div>

        </div>
    </div>


</div>
</div>
</div>