<div class=" h-100">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7 col-xl-6">
                    <div class="card mask-custom">
                        <div class="card-body p-5 text-black">



                            <h1 class="text-center mb-5">New Product</h2>

                                <form method="post" enctype="multipart/form-data">
                                    <div class="form-outline form-white">
                                        <input type="text" id="form3Example2" class="form-control form-control-lg"
                                            name="name"  />
                                        <label class="form-label" for="form3Example2">Product name</label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <label for="category">Category: </label>
                                        <select id="category" name="category">
                                            <option value="Mobile Device">Mobile Device</option>
                                            <option value="Accesories">Accesories</option>
                                        </select>
                                    </div>


                                    <div class="form-outline form-white mb-4">
                                        <input type="number" id="form3Example3" class="form-control form-control-lg"
                                            name="price">
                                        <label class="form-label" for="form3Example3">Price</label>
                                    </div>


                                    <div class="form-outline form-white mb-4">
                                        <input type="number" id="form3Example4" class="form-control form-control-lg"
                                            name="stock" />
                                        <label class="form-label" for="form3Example4">Stock Amount</label>
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control" name="description"
                                            id="exampleFormControlTextarea1" rows="3"></textarea>
                                        <label for="exampleFormControlTextarea1">Product Description </label>
                                    </div>

                                    <div class="form-group">
                                        <input type="file" class="form-control" id="productPic" name="productPic">
                                        <label class="form-label" for="productPic">Product Picture</label>
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-success btn-block mb-4">Submit</button>

                                </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>