<h1 class="text-center my-3">Products</h1>

<button class="btn border px-auto"><a href="addproduct">Add Product</a></button>
<div class="card card-body">
    <h3 class="text-primary">Products</h3> {{#each products}} <div class="card border-primary mb-2 w-100 mx-auto">
        <!-- Display video data -->
        <p>{{this.name}}</p> 
        <a href="/product/editProduct/{{this.id}}" class="card-link mb-2"> <i class="fas fa-pencil-alt"></i> Edit </a>
        <a href="/product/deleteProduct/{{this.id}}">Delete button</a>
    </div> {{/each}}
</div>