<link rel="stylesheet" href="/assets/css/product.css" />
<h1 class="text-center my-3">Products</h1>
<style>
</style>


<div style="width: 65vw; background-color:azure; " class="p-5 mx-auto">

  <div class="row" >
    <a class="col-6" href="/product/productmobile">
      <div class="card card-body" style="">
        <h3 class="text-center">Mobile Phones</h3>
        <img class="img-fluid mx-auto" style="width: 300px; height: 290px; object-fit: cover; overflow:hidden; "
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-13-blue-select-2021?wid=940&hei=1112&fmt=png-alpha&.v=1645572386470"
          alt="fone" />
      </div>
    </a>
    <a class="col-6" href="/product/productaccessories">
      <div class="card card-body">
        <h3 class="text-center">Accesories</h3>
        <img class="img-fluid mx-auto" style="width: 300px; height: 290px; object-fit: cover;"
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MWP22?wid=2000&hei=2000&fmt=jpeg&qlt=95&.v=1591634795000"
          alt="fone" />
      </div>
    </a>

  </div>
</div>