<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Encounter something wrong? Submit a ticket!</h2>
            <p>If you were to encounter something wrong, please submit and our support team will get back to you as soon
                as possible</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                        data-bs-target="#faq-list-1">Experienced a bug?<i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <!-- Default form contact -->
                        <form class="text-center border border-light p-5" method="post" action = "ticketPage/{{user.id}}/bugs">

                            <p class="h4 mb-4">Explain the bug to us!</p>

                            <!-- Subject -->
                            <label>Bugs</label>
                            <select class="browser-default custom-select mb-4" name = "category">
                                <option value="" disabled>Choose option</option>
                                <option value="Transaction did not go through" name = "category" selected>Transaction did not go through</option>
                                <option value="No confirmation email sent" name = "category" >No confirmation email sent</option>
                                <option value="Update Particulars Bug" name = "category">Update Particulars Bug</option>
                                <option value="Others" name = "category" >Others</option>
                            </select>

                            <!-- Message -->
                            <div class="form-group">
                                <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
                                    placeholder="Message" name = "message"></textarea>
                            </div>
                            <!-- Send button -->
                            <button class="btn btn-info btn-block" type="submit">Send</button>

                        </form>
                        <!-- Default form contact -->
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->