<link rel="stylesheet" href="\assets\css\address.css">
<div class="row">
    <div class="col-md-8 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Create Schedule</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="form-outline mb-4">
                        <div class="form-outline mb-4">
                            <div class="form-outline mb-4">
                                <input type="date" id="form7Example2" class="form-control" name="date" />
                                <label class="form-label" for="form7Example1">Date</label>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <div class="form-outline mb-4">
                                <button type="" id="form7Example2" class="form-control" name="time" />
                                <select id="form7Example2" class="form-control" name="time" />
                                <option value="1">Morning</option>
                                <option value="2">Afternoon</option>
                                <option value="3">Evening</option>
                                <label class="form-label" for="form7Example1">Time</label>
                            </div>
                        </div>
                        <!-- Text input -->
                        <div class="form-outline mb-4">
                            <input type="radio" id="form7Example2a" name="isAvailable" value=1 />
                            <label for="form7Example2a">Available</label>
                            <br>
                            <input type="radio" id="form7Example2b" name="isAvailable" value=0 />
                            <label class=" form-label" for="form7Example2b">Not Available</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Save
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
</div>