<link rel="stylesheet" href="\assets\css\address.css">
<div class="row">
    <div class="col-md-8 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Edit Schedule</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <!-- date -->
                    <div class="row mb-2">
                        <div class="form-outline mb-2">
                            <input type="date" id="date" class="form-control" name="date" value="{{schedule.date}}"/>
                            <label class="form-label" for="date">Date</label>
                        </div>
                    </div>
                    <!-- time -->
                    <div class="row mb-2">
                        <div class="form-outline mb-2">
                            <select id="time" class="form-control" name="time" value="{{schedule.time}}">
                                <option value="1">Morning</option>
                                <option value="2">Afternoon</option>
                                <option value="3">Evening</option>
                            </select>
                            <label class="form-label" for="time">Time</label>
                        </div>
                    </div>
                    <!-- availability -->
                    <div class="row mb-2">
                        <div class="form-outline mb-2">
                            <select id="availability" class="form-control" name="availability" value="{{schedule.availability}}">
                                <option value="1">Available 1</option>
                                <option value="2">Available 2</option>
                                <option value="3">Unavailable</option>
                            </select>
                            <label class="form-label" for="availability">Availability</label>
                        </div>  
                    </div>
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Save
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
</div>